

* {
    box-sizing: border-box;
}

#hlavicka {
    margin-top: 1px;
    background-color: white;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

}
#hlavicka ul li  {
    margin-left: 6px;


    list-style: none;
}
#hlavicka a {
text-decoration: none;
}
#hlavicka ul li a {

    font-size: 1.2em;
    color: black;
}
#hlavicka ul li a:hover {
    color: #0c63e4;
}

#hlavicka ul li a:active {
    color: #0c63e4;
}
#hlavicka ul {
    display: flex;


}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.polo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.telo {
    background-color: rgb(240, 240, 240);
    padding: 5em 0em;
    display: flex;
}
.telo .container h1 {
    color: #3e69dc;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 3.5em;
}
.text {
    display: flex;
    justify-content: space-between;
}
.text p {
    width: 80%;

}
.btn-get-in-touch button {
    background-color: #3e69dc;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}
.telo-obrazka {
    display: flex;

}
.telo-obrazka img {
    object-fit: cover ;
    width: 100%;

}
.pismo {
    font-size: 21px;
}
.telo-modra {
    color:white;
    padding: 5em 0px;
    background-color:#3e69dc ;

}
.telo-modra  img{
    width: 150px;
    height: 150px;
    justify-content: space-between;

}
.service {
    color: white;

    font-weight: bold;
}

.medzi {
    width: 150px;
    height: 150px;
    justify-content: space-between;
}
.divko-modre {
    display: flex;
    padding-top: 5em;
}
.telo-modra h1{
    font-size: 50px;
    font-weight: bold;
}
.telo-box {
    background-color: white;
    padding: 3em 0px;
}
.telo-box h1 {
    justify-content: space-between;
    font-weight: bold;
    font-size: 3.5em;
}
.boxi {

    display: flex;
    padding: 4em 0px;
}
.boxi p{
    color: #6c757d;
    font-size: 25px;
    border: 1px solid #adb5bd ;
}
.box1 {
    width: 26em;
}
.box2 {
    padding-left: 40px;
    width:  26em;

}
.obrazok {
    display: flex;

background-image: linear-gradient(rgba(65, 105, 225,0.527),rgba(65, 105, 225, 0.5)) ,url("obrazky/academy-celebrate-celebration-267885-1-1.jpg") ;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    background-size: cover;

}
.telo-pismo h1 {
    font-weight: bold;
    font-size: 60px;
}
.telo-pismo {
    justify-content: space-between;
    padding: 3em 0px;
    background-color: white;
}
.pisma{

    margin: 40px 0;
    display: flex;

}
.pisma div{
    width: 33%;
    justify-content: space-between;
}
.pisma div p{
    color: #6c757d;
    padding-top:40px;
}
.modraPodlaha {
    justify-content: space-between;
    background-color:#3e69dc ;
    color: white;
}
.medzera {
    padding: 20px 0;
}
.buttoni{
    background-color: white;
    text-decoration: none;

    color: #3e69dc;
    border-radius: 25px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}
.telo-contaktov{
    display: flex;
    justify-content: space-between;
}
.telo-kontakty {
    padding: 5em 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("obrazky/auditorium-benches-chairs-207691-1-1.jpg");
   color: white;
    background-size: cover;
    background-position: center;
}
.telo-contaktov div {
    width: 33%;
    padding-left: 40px;
}
.telo-contaktov p {
    font-size: 1.2em;
}
.telo-contaktov a {
    font-size: 1.2em;
    color: #2c3034;
}
.telo-contaktov a:hover {
    color: #0c63e4;
    text-decoration: none;
    font-size: 1.2em;
}
.futer {
    padding: 3em 0;
    background-color: white;
    color: #6c757d;
}
.peticka {
    display: flex;
    justify-content: space-between;
}
.ikonky {

}
.ikonky ul li {
    list-style: none;
}
.ikonky ul {
    display: flex;
}
.textik a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    color: #6c757d;
}
.textik a:hover {
    font-weight: bold;
    color: #0c63e4;
}
.nadpis {
    font-weight: bold;
    font-size: 2em;
}
.nadpis:hover {
    color: black;
}
.ikony {
    padding-top: 10px;

}

